@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--background: #131718;
	--foreground: #fcfcfc;
	--card: #181c1d;
	--card-foreground: #fcfcfc;
	--popover: #181c1d;
	--popover-foreground: #fcfcfc;
	--primary: #e9bc06;
	--primary-foreground: #131718;
	--secondary: #25292a;
	--secondary-foreground: #fcfcfc;
	--muted: #25292a;
	--muted-foreground: #b2b3c2;
	--accent: #e9bc06;
	--accent-foreground: #131718;
	--destructive: #c24f2b;
	--destructive-foreground: #f18753;
	--border: #34393a;
	--input: #34393a;
	--ring: #e9bc06;
	--radius: 0.625rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
